<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>-----</title>
    <link media="screen" rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link media="screen" rel="stylesheet" type="text/css" href="~/Content/Animations.css">
    <link rel="stylesheet" type="text/css" href="~/Content/kendo/kendo.common.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/kendo/kendo.flat.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/kendo/kendo.rtl.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
</head>

    <body>
                        @RenderBody()

        <footer>
        </footer>

</body>
</html>

<script>

</script>